<%= form_for(@comment) do |f| %>
    <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <h2 class="section-heading">Post ID</h2>
      <div class="form-group">
        <input type="number height:1px" class="form-control" name="comment[post_id]" id="comment_post_id" value="<%= @comment.post_id %>"></input>
      </div>
    </div>
    <div class="field">
      <h2 class="section-heading">CONTENT</h2>
      <div class="form-group">
        <textarea type="text" rows="10" class="form-control" name="comment[body]" id="comment_body"><%= @comment.body %></textarea>
      </div>
    </div>
    <div class="actions btn btn-xl">
      <button type="submit" class="btn btn-xl">Submit</button>
    </div>

<% end%>
