<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/assets/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Comments</h1>
          <hr class="small">
          <span class="subheading">Shysie</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <% @comments.each do |comment| %>
          <div class="post-preview">
            <a href="comments/<%= comment.id %>">
              <div class="col-md-3">
                <p style="font-size:30px"><strong><%= comment.post_id %></strong></p>
              </div>
              <div class="col-md-9">
                <p style="font-size:30px"><%= comment.body %></p>
              </div>
            </a>
            <div class="col-lg-12 text-left">
              <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> <%= time_ago_in_words comment.created_at %> ago</p>
              <%= link_to 'Edit', edit_comment_path(comment) %> |
              <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
              <hr>
            </div>
          </div>


      <% end %>
      <%= link_to 'New Comment', new_comment_path %>

      <!-- Pager -->
      <ul class="pager">
        <li class="next">
          <a href="#">Older Comments &rarr;</a>
        </li>
      </ul>

    </div>
  </div>
</div>

<hr>