<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/assets/post-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1>Post： <%= @comment.post_id %></h1>

        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <p id="notice"><%= notice %></p>
        <p><%= @comment.body %></p>
        <p>Posted by <a href="#">Start Bootstrap</a> <%= time_ago_in_words @comment.created_at %> ago</p>
      <td><%= link_to 'Edit', edit_comment_path(@comment) %></td> |
      <td><%= link_to 'Back', comments_path %></td>

    </div>
  </div>
  </div>
</article>

<hr>
