<%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <h2 class="section-heading">TITLE</h2>
      <div class="form-group">
        <textarea rows="1" class="form-control" name="post[title]" id="post_title"><%= @post.title %></textarea>
      </div>
    </div>
    <div class="field">
      <h2 class="section-heading">CONTENT</h2>
      <div class="form-group">
        <textarea rows="20" class="form-control" name="post[body]" id="post_body"><%= @post.body %></textarea>
      </div>
    </div>
    <div class="actions btn btn-xl">
      <button type="submit" class="btn btn-xl">Submit</button>
    </div>

<% end%>
