<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image :url('/assets/post-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>MyBlog</h1>
          <hr class="small">
          <span class="subheading">Shysie</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <% @posts.reverse.each do |post| %>
          <div class="post-preview">
            <a href="posts/<%= post.id %>">
              <h2 class="post-title"><%= post.title %></h2>
              <h3 class="post-subtitle"><%= post.body %></h3>
            </a>
            <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> <%= time_ago_in_words post.created_at %> ago</p>
            <%= link_to 'Edit', edit_post_path(post) %> |
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <hr>
      <% end %>

      <!-- Pager -->
      <ul class="pager">
        <li class="next">
          <a href="#">Older Posts &rarr;</a>
        </li>
      </ul>

    </div>
  </div>
</div>

<hr>