<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/assets/post-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1><%= @post.title %></h1>
          <h2 class="subheading">Shysie</h2>
          <span class="meta">Posted by <a href="#">Start Bootstrap</a> <%= time_ago_in_words @post.created_at %> ago</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <p style="font-size:30px"><%= @post.body %></p>
        <%= link_to 'Edit', edit_post_path(@post) %> |
        <%= link_to 'Back', posts_path %>

        <h2 class="section-heading">Comments</h2>
        <div id="comments">
          <%= render :partial => @post.comments.reverse %>
        </div>

        <%= form_for [@post, @post.comments.new], remote: true do |new| %>
            <h3>New Comment</h3>
            <%= new.hidden_field :post_id %>
            <div class="form-group">
              <textarea rows="6" class="form-control" name="comment[body]" id="commeny_body"></textarea>
            </div>
            <button type="submit" class="btn btn-xl">Add Comment</button>
        <% end%>

      </div>
    </div>
  </div>
</article>

<hr>